name: deploy project
on: [push, workflow_dispatch]
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
          - name: get code
            uses: actions/checkout@v2
          - name: install node.js
            uses: actions/setup-node@v2
            with:
                node-version: 18
          - name: install dependencies
            run: npm ci
          - name: run tests
            run: npm test